.App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #252525d2;
  color: #fff;
  padding: 2rem;
}
main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}